*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card{
    background-image: linear-gradient(30deg,rgb(147, 235, 249),rgba(255, 172, 172, 0.886)) !important;
}
.card2{
    background-color: rgb(50, 186, 213);
    border: 2px solid black;
    cursor: pointer;
}

.hidecard{
    display: none !important;
}