*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card{
    background-color: blueviolet;
}
.card2{
    background-color: blue;
}

.hidecard{
    display: none;
}