*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* css for nav */
nav{
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li{
    height: 50px;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

#logo{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.hamburger{
    display: none;
}

@media(max-width: 800px){
    .hide{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* css for nav end */

.Mayurcard{
    width: 490px;
    height: 200px;
    margin: 15px;
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.Mayurcard svg{
    margin-top: 20px;
    margin-left: 20px;
    grid-row-start: 1;
    grid-row-end: 4;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.Mayurcard h3{
    padding-top: 10px;
    height: 50px;
}
.Mayurcard p{
    padding-top: 30px;
    text-align: left;
    height: 90px;
    margin: 0;
}
.Mayurcard a{
    color: black;
    text-decoration: none;
}
